In [1]:
import sys
import os

In [2]:
os.environ['PYSPARK_PYTHON'] = '/usr/bin/python'
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-oracle-cloudera'
sys.path.insert(0, os.path.join(os.environ['SPARK_HOME'], 'python'))
sys.path.insert(0, os.path.join(os.environ['SPARK_HOME'], 'python/lib/py4j-0.10.7-src.zip'))

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = (SparkSession
        .builder
        .master('yarn')
        .appName('tmp_app')
        .getOrCreate()
)

In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(np.random.rand(10, 2), columns=['a', 'b'])

In [7]:
sdf = spark.createDataFrame(df)

In [8]:
sdf.write.mode('overwrite').saveAsTable('default.tmp')

In [9]:
sdf_2 = spark.table('default.tmp')

In [10]:
sdf_2.toPandas()

          a         b
0  0.687136  0.253277
1  0.846604  0.915616
2  0.281711  0.281065
3  0.414173  0.838854
4  0.132870  0.231504
5  0.837675  0.008702
6  0.447565  0.329859
7  0.670231  0.666492
8  0.399591  0.109820
9  0.460902  0.478849

In [11]:
def sample_udf(a):
    return a * 2

In [13]:
from pyspark.sql.functions import udf

In [14]:
sample_udf = udf(sample_udf)

In [18]:
sdf.select('a', 'b', sample_udf('a').alias('a_doubled')).toPandas()

          a         b            a_doubled
0  0.687136  0.253277   1.3742719446777354
1  0.846604  0.915616   1.6932071856486535
2  0.281711  0.281065   0.5634218506142192
3  0.414173  0.838854    0.828345006221296
4  0.132870  0.231504  0.26573930576391147
5  0.837675  0.008702   1.6753497017612804
6  0.447565  0.329859    0.895129576738358
7  0.670231  0.666492   1.3404614146697649
8  0.399591  0.109820   0.7991817085609412
9  0.460902  0.478849   0.9218040782800949